<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/styles.css">
  <!-- Fontawesome for apple icons -->
  <script src="https://kit.fontawesome.com/007aab5e0e.js" crossorigin="anonymous"></script>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap" rel="stylesheet">

<body >


  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <section id="title" background="images/jay-wennington-N_Y88TWmGwA-unsplash.jpg">
    <div class="brand">
       <a>FindYourRestaurant</a>
    </div>
    <div class="navbar" >

      <a class="active" href=" #" >Home</a>
      <a href=" #">Search-Restaurants</a>
      <a href=" #">Maps</a>
      <a href="aboutus.html " onclick="aboutus.html">About Us</a>

    </div>


  </section>


  <!-- Features -->

  <section id="features">
    <h3 class="feature-h3"><b>Let FindYourRestaurant.com Show You
      All the Restaurant Menus in Town</b></h3>
    <p class="text-p">
      There are plenty of restaurant menu apps, but none of them provide you with easy access or with appealing food photos from restaurants and restaurant menus across the country. At Sirved, our customers tell us that we offer one of the best
      restaurant apps on the market. We list more than 450,000 menus (and counting!) of the most interesting, and most popular restaurants located throughout North America. Next time you ask yourself, “What are the best places to eat at near me?”
      you’ll have your answer in no time. The combination of restaurant menus and food photos, available on our restaurant app and for both iOS and Android devices, allows the user to quickly decide on the best restaurants around them.</p>
<p class="text-p">
      Our goal is to introduce you, the hungry customer, to a broad range of restaurants and restaurant menus in locations you may not find on your own. Our platform and menu app are simply designed to be user-friendly and easy to navigate, leading
      you to some of the best restaurant menus in town. First, start by entering the location of the town or city in which you’re looking to dine in. Next, search for the type of food you’re craving, and BINGO! Sirved will show you a list of
      restaurants and affiliated menus in seconds!
      </p>



  </section>


  <!-- Features -->


  <!-- <section id="aboutus">

    <div class="navbar" >

      <a class="active" href=" #" >Home</a>
      <a href=" #">Search-Restaurants</a>
      <a href=" #">Maps</a>
      <a href="aboutus.html " onclick="aboutus.html">About Us</a>

    </div>

    <div class="Intro">
      <h3>We are group 5 of Distributed Information Systems of Spring 2020 at University of South Florida.The assignment is intended to help us learn html,css and js.Please find our contact details and contribution to project</h3>
    </div>
    <div class="member-details">


      <div class="member">
        <img class="image" src="images/IMG-2267.JPG">
        <h3 align="center">Anu Yadav Kambalapally</h3>
        <p>
          Currently a student at USF's Business Analytics and Information Systems graduate program,
          She designed the home page and helped us with designing.
        </p>
      </div>
      <div class="member">
        <img class="image" src="images/IMG-2267.JPG">
        <h3 align="center">Pranali Kanade</h3>
        <p align="justify">
          Currently a student at USF's Business Analytics and Information Systems graduate program,
          She designed the home page and helped us with designing.
        </p>
      </div>
      <div class="member">
        <img class="image" src="images/IMG-2267.JPG">
        <h3 align="center">Ballam Bikash</h3>
        <p align="justify">
          Currently a student at USF's Business Analytics and Information Systems graduate program,
          She designed the home page and helped us with designing.
        </p>
      </div>
    </div>




    <!-- <img class="title-image " src="images/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="iphone-mockup" width="100%" height="100%"> -->







    <!-- Title -->



 -->

  <!-- Features -->










</body>

</html>
