@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Drug Related Accidents</title>
    <link rel="stylesheet" href="~/css/styles1.css">
    <!-- Fontawesome for apple icons -->
    <script src="https://kit.fontawesome.com/007aab5e0e.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <section id="title">
        <div class="brand">
            <a>Drug Related Accidents</a>
        </div>

        <div class="topnav" id="myTopnav">
            <a asp-area="" asp-controller="Home" asp-action="Index"> Home</a>
            <a asp-area="" asp-controller="Data" asp-action="Index"> Drug Related Accidents</a>
            <a asp-area="" asp-controller="Data" asp-action="Bar"> Statistics</a>
            <a asp-area="" asp-controller="Home" asp-action="About">AboutUs</a>
            <a asp-area="" asp-controller="Home" asp-action="Refresh">Refresh</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>




        <h3 class="feature-h3">
            <b>
                FACTS & STATISTICS
            </b>
        </h3>
        <p class="text-p">
            According to the most recent World Drug Report, an estimated 585,000 people died as a result of drug use in 2017.

            Opioids account for the majority of drug-related deaths and in most cases such deaths are avoidable.
            More than 67,300 Americans died from drug-involved overdose in 2018, including illicit drugs and prescription opioids. Drug overdose deaths rose from 38,329 in 2010 to 70,237 in 2017; followed by a significant decrease in 2018 to 67,367 deaths. The bars are overlaid by lines showing the number of deaths by gender from 1999 to 2018
        </p>
        <p class="text-p">
            The number of drug overdose deaths decreased by 4% from 2017 to 2018.

            Still more than 67,000 people died from drug overdoses in 2018, making it a leading cause of injury-related death in the United States.

            Of those deaths, almost 70% involved a prescription or illicit opioid.
        </p>



    </section>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>



    <!-- Features -->
    <!-- <section id="features">
        <h3 class="feature-h3">
            <b>
                Let FindYourRestaurant Show You
                All the Restaurants in Town
            </b>
        </h3>
        <p class="text-p">
            There are plenty of restaurants, but none of them provide you with easy access or with appealing food photos from restaurants and restaurant menus across the country. At FindYourRestaurant, we tell you that we offer one of the best
            restaurants on the market. We list more than 450,000 restaurants (and counting!) of the most interesting, and most popular restaurants located throughout America. Next time you ask yourself, What are the best places to eat at near me?
            you will have your answer in no time.
        </p>
        <p class="text-p">
            Our goal is to introduce you, the hungry customer, to a broad range of restaurants  in locations you may not find on your own. Our platform  simply designed to be user-friendly and easy to navigate, leading
            you to some of the best restaurants in town. First, start by entering the location of the town ,city or zipcode in which you’re looking to dine in and BINGO! We will show you a list of
            restaurants in seconds!
        </p> -->
    </section>


</body>

</html>
