<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Find Your Restaurant</title>
  <link rel="stylesheet" href="css/styles.css">
  <!-- Fontawesome for apple icons -->
  <script src="https://kit.fontawesome.com/007aab5e0e.js" crossorigin="anonymous"></script>
  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" </head> <body>
  <!-- javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <section id="title-maps" background="images/jay-wennington-N_Y88TWmGwA-unsplash.jpg">
    <div class="brand">
       <a>FindYourRestaurant</a>
    </div>
    <div class="navbar" >

      <a class="active" href=" index.html" >Home</a>
      <a href="search.html">Search-Restaurants</a>
      <a href="maps.html ">Maps</a>
      <a href="aboutgroup.html">About Us</a>

    </div>


  </section>


  <!-- Features -->

  <section id="maps" >
  <img class="image-map" src="images/googlemap.PNG">


  </section>






  </body>

</html>
